[submodule "ext/bandit/bandit"]
	path = ext/bandit/bandit
	url = https://github.com/banditcpp/bandit
	branch = headers-only
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk.git
[submodule "ext/vulkan-headers"]
	path = ext/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
